VITE_SUPABASE_PROJECT_ID="svhrbyzdcevatklrdnwe"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_jJGHUpA2TqerfEw1IZ0lKA_dPCdeYs0"
VITE_SUPABASE_URL="https://svhrbyzdcevatklrdnwe.supabase.co"
VITE_ENABLE_GOOGLE_AUTH="false"
